/* NAVBAR */
#row-nav {
    background-color: #e70000;
    width: 100%;
    height: 30px;
    padding: 0;
    margin: 0;
    position: fixed;
    z-index: 100;
}

.nav-links {
    color: white;
    padding: 7px;
    font-size: 12px;
}

#row-nav .nav-links span:not(.glyphicon) {
    padding-right: 13px;
}

.rs-row-navbar {
    margin-bottom: 100px;
}

.rs-navbar-bg {
    height: 70px;
    margin-top: 30px;
    background-color: #ffffff;
    box-shadow: 0 1px 5px 1px #b4b4b4;
}

.rs-img-logo {
    float: left;
}

.rs-navbar-brand {
    float: left;
    padding-top: 10px;
    padding-left: 10px;
    color: #656565;
    font-size: 28px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.rs-active {
    border-bottom: 2px solid red;
}

.rs-navbar-links {
    height: 70px;
}

.rs-navbar-links .menu {
    height: 100%;
}

.rs-navbar-links .menu a {
    color: red;
    padding-top: 23px;
    font-size: 15px;
    height: 100%;
    font-family: Helvetica;
}

.rs-navbar-links .menu a:hover {
    color: #ca0000;
    background-color: transparent;
}

.rs-navbar-links .menu:not(.open a):hover {
    cursor: pointer;
    color: #ca0000;
    border-bottom: 2px solid #ca0000;
}

.rs-navbar-search {
    padding: 17px 30px 20px 20px;
    width: 230px;
}

.rs-navbar-search-icon {
    padding: 17px 40px 20px 0;
    color: #F60006;
}

.menu:focus {
    background-color: transparent;
}

.menu-admin .dropdown-menu {
    left: 0;
    height: 340px;
    width: 180px;
}

.menu-pim .dropdown-menu {
    left: 0;
    height: 130px;
    width: 180px;
}

.menu-leave .dropdown-menu {
    left: 0;
    height: 165px;
    width: 180px;
}

.menu-time .dropdown-menu {
    left: 0;
    height: 200px;
    width: 180px;
}

.menu-performance .dropdown-menu {
    left: 0;
    height: 235px;
    width: 180px;
}

.menu-recruitment .dropdown-menu {
    left: 0;
    height: 135px;
    width: 180px;
}

.menu-discipline .dropdown-menu {
    left: 0;
    height: 90px;
    width: 180px;
}

.menu-training .dropdown-menu {
    left: 0;
    width: 175px;
    height: 165px;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: transparent;
    cursor: pointer;
    color: #ca0000;
    border-bottom: 2px solid #ca0000;
}

.dropdown-menu li a {
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: #ca0000;
}

.menu .dropdown-menu li {
    height: 30px;
    padding: 15px;
    margin-bottom: 5px;
}

.menu .dropdown-menu li a {
    color: gray;
    height: 100%;
    padding: 0;
    margin: 0;
}
/* NAVBAR */

body {
    background-color: #f6f6f6;
    font-family: "Helvetica";
}

/* SIDEBAR */
.rs-sidebar-left-fixed {
    float: left;
    height: auto;
    width: 245px;
    margin: 20px;
    position: absolute;
    background-color: #ffffff;
}

.rs-sidebar-right-menu {
    position: static;
    margin-left: 285px;
    margin-right: 20px;
    margin-top: 120px;
    margin-bottom: 20px;
    height: auto;
    background-color: white;
}

.rs-sidebar-right-content {
    position: static;
    margin-left: 285px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: -20px;
    height: auto;
    background-color: white;
}


.rs-border {
    box-shadow: 0 2px 3px 0 rgba(215, 215, 215, 0.5);
}

.rs-profile-circle {
    margin: 0;
    border-radius: 50%;
    background-color: #dcdcdc;
    width: 40px;
    height: 40px;
}

.text-semibold {
    font-weight: bold;
    color: darkslategray;
}

.rs-profile-align-center {
    margin: 0;
    margin-left: 10px;
    padding: 0;
    padding-top: 15px;
    height: 70px;
    width: 225px;
    background-color: #ffffff;
}

.rs-text-size-mini {
    color: darkslategray;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
}

.rs-color-white {
    color: white;
}

.rs-color-white:hover {
    color: darkgray;
}

.rs-sidebar-menu {
    padding: 8px 0 5px 15px;
    width: 243px;
    height: 35px;
    background-color: #ececec;
    font-size: 15px;
    font-weight: 500;
}

.rs-sidebar-menu-icon {
    padding-right: 5px;
}

#wrapper + .rs-sidebar-right-static .container-fluid .rs-submenu-header h3 .rs-sidebar-toggle {
    background-color: #f2f2f2;
    border-color: #a4a4a4;
}

#wrapper + .rs-sidebar-right-static .container-fluid .rs-submenu-header h3 .rs-sidebar-toggle .icon-bar {
    border-color: #8b8b8b;
}

#wrapper.toggled + .rs-sidebar-right-static .container-fluid .rs-submenu-header h3 .rs-sidebar-toggle {
    background-color: #183645;
}

#wrapper.toggled + .rs-sidebar-right-static .container-fluid .rs-submenu-header h3 .rs-sidebar-toggle .icon-bar {
    border-color: white;
}

.rs-submenu {
    margin-top: 5px;
    margin-left: 8px;
    position: absolute;
}

.rs-sidebar-toggle {
    height: 22px;
    width: 25px;
    position: relative;
    padding: 5px 8px;
    margin-bottom: 2px;
    background-color: transparent;
    background-image: none;
    border: 1px solid #202020;
    border-radius: 4px;
}
.rs-sidebar-toggle:focus {
    outline: 0;
}
.rs-sidebar-toggle:hover {
    background-color: #c9c9c9;
}
.rs-sidebar-toggle .icon-bar {
    display: block;
    width: 17px;
    height: 1px;
    border-top: 1px solid #202020;
    border-radius: 1px;
    margin-left: -5px;
    padding-left: 0;
}
.rs-sidebar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}
/*------------------------*/

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 265px;
}

#sidebar-wrapper {
    border: 1px solid #ebebeb;
    height: 100%;
    margin: 0;
    background-color: #ffffff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 265px;
    background-color: #ffffff;
}
/* Sidebar Styles */

.sidebar-nav {
    position: static;
    top: 0;
    width: 245px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li:not(.sidebar-brand) {
    text-indent: 40px;
    line-height: 35px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #757575;
}

.sidebar-nav li:not(.sidebar-brand) {
    font-size: 13px;
}

.sidebar-nav li a.rs-sidebar-active {
     color: #606060;
 }

.sidebar-nav li a:not(.navbar-brand):not(.rs-sidebar-active):hover {
    text-decoration: none;
    color: #575757;
    width: 102%;
    border-left: 3px solid #F60006;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 35px;
    font-size: 14px;
}

.sidebar-brand:first-child {
    margin: 0 0 5px 0;
}

.sidebar-brand:last-child {
    margin: 10px 0 5px 0;
}

.sidebar-nav > .sidebar-brand a {
    color: #515151;
}

.rs-sidebar-active {
    background-color: #F60006;
    color: white;
}

.rs-sidebar-menu-active {
    font-weight: bold;
}

.sidebar-nav li:not(.sidebar-brand):not(.sidebar-active):hover {
    background-color: transparent;
}
/*---------------------------*/

/* SIDEBAR */



/* PAGE CONTENT */

.rs-submenu-header {
    margin-top: -5px;
    padding-bottom: 4px;
    padding-left: 16px;
    height: 75px;
}

h3.rs-submenu-header-buttons {
    margin: 0;
    padding-top: 5px;
    padding-right: 25px;
    color: gray;
    height: 40px;
    width: auto;
    display: inline-block;
}

.rs-submenu-tabs {
    height: 35px;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    background-color: #22a316;
    padding-left: 50px;
}

.rs-submenu-tabs-height {
    height: 38px;
    padding-left: 0;
    padding-top: 0;
}

.rs-submenu-tab {
}

.rs-submenu-tab li {
    text-decoration: none;
    display: inline-block;
    padding: 7px 15px 10px 14px;
    margin-right: -4px;
    color: white;
}

.rs-submenu-tab li a{
    color: #343434;
    font-size: 15px;
}

.rs-submenu-tab li:hover {
    cursor: pointer;
    margin-bottom: 0;
    padding-bottom: 7px;
    border-bottom: 2px solid #e90006;
}

.rs-submenu-tab li a:hover {
    text-decoration: none;
    cursor: pointer;
}

.rs-submenu-tab li.active {
    text-decoration: none;
    height: 37px;
    border-bottom: 4px solid #e90006;
    background-color: #e90006;
}

.rs-submenu-tab li.active a {
    color: white;
}
/* PAGE CONTENT*/



/* MAIN CONTENT */



/* Table */
.rs-table-select {
    width: 20px;
}

.rs-table-action {
    width: 80px;
    color: green;
}

.rs-table-border {
    box-shadow: 0 2px 3px 0 rgba(229,229,229,.5);
    height: auto;
    margin-bottom: -20px;
    padding: 0 25px 0 25px;
}

table {
    font-family: sans-serif, "Roboto", Helvetica Neue, Helvetica, Arial;
    border: none;
    border-color: transparent;
}

table tr {
    height: 55px;
    border: none;
}

table thead:first-child tr td {
    padding: 25px 0 25px 35px;
}

table thead:last-child tr td {
    padding: 15px 0 15px 0;
}

table thead:nth-child(2) tr {
    font-weight: bold;
    padding: 0;
    height: 25px;
}

table thead:nth-child(2) tr td {
    cursor: pointer;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle;
}

table tbody tr td {
    font-size: 13px;
}

table thead tr td {
    font-size: 13px;
}


/* Checkbox */
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 1.95em;
    cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0; top: -7px;
    width: 1.25em; height: 1.25em;
    border: 2px solid #ccc;
    background: #fff;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}

.rs-checkbox-all {
    width: 1.14em; height: 1.14em;
}

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '✔';
    position: absolute;
    top: -.4em; left: .19em;
    font-size: 1.3em;
    line-height: 0.8;
    color: #22a316;
    transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
    color: #999;
}
[type="checkbox"]:disabled + label {
    color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
    border: 2px solid #bbb;
}

/* hover style just for information */
label:hover:before {
    border: 2px solid #4778d9!important;
}






.rs-filter {
    padding: 10px 5px;
    padding-left: 1px;
    font-size: 14px;
    width: 50px;
    float: left;
}

.rs-filter-input {
    padding: 5px 5px;
    padding-left: 0;
    font-size: 16px;
    width: 200px;
    float: left;
}

.rs-filter-label {
    display: none;
    font-size: 12px;
    color: #bf2101;
    position: absolute;
    z-index: 1;
    left: 132px;
    top: 160px
}

.rs-display-block {
    display: block;
}

input[type="text"]:focus {
}

.rs-show {
    padding: 10px 5px;
    padding-left: 1px;
    font-size: 14px;
    width: 50px;
    float: right;
}

.rs-show-input {
    padding: 5px 5px;
    padding-left: 0;
    font-size: 16px;
    width: 50px;
    float: right;
    margin-right: 35px;
}

.rs-pagination {
    float: right;
    margin: -15px 0 -20px 0;
    padding: 0 0 0 0;
}

.rs-showing {
    font-size: 14px;
    width: 300px;
    margin-top: 10px;
    float: left;
}

.rs-show-mobile {
    display: none;
}

.rs-hide-mobile {
    display: block;
}

.edit-user-modal, .add-user-modal, .edit2-user-modal, .delete-user-modal {
    cursor: pointer;
}

.edit-user-modal {
    color: #22a316;
    padding-left: 5px;
    padding-right: 5px;
}

.delete-user-modal {
    color: #ce0000;
}
/* /Table */


/* Dropdown */
.dropdown-width {
    min-width: 30px;
    padding: 0;
}
/* /Dropdown*/


/* MAIN CONTENT */




/* Let's get this party started */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #E90006;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(233, 0, 6, 0.71);
}

/*!* Floating Button *!*/

/*#floating-button{*/
    /*width: 50px;*/
    /*height: 50px;*/
    /*border-radius: 50%;*/
    /*background: #F60006;*/
    /*position: fixed;*/
    /*bottom: 15px;*/
    /*right: 15px;*/
    /*cursor: pointer;*/
    /*box-shadow: 0px 2px 5px #666;*/
/*}*/

/*.plus{*/
    /*color: white;*/
    /*position: absolute;*/
    /*top: -7px;*/
    /*display: block;*/
    /*bottom: 0;*/
    /*left: -1px;*/
    /*right: 0;*/
    /*text-align: center;*/
    /*padding: 0;*/
    /*margin: 0;*/
    /*font-size: 38px;*/
    /*font-family: 'Roboto';*/
    /*font-weight: 300;*/
    /*animation: plus-out 0.3s;*/
    /*transition: all 0.3s;*/
/*}*/

/*#container-floating{*/
    /*position: fixed;*/
    /*width: 50px;*/
    /*height: 70px;*/
    /*bottom: 10px;*/
    /*right: 10px;*/
    /*z-index: 50;*/
/*}*/

/*#container-floating:hover{*/
    /*height: 400px;*/
    /*width: 90px;*/
    /*padding: 30px;*/
/*}*/

/*#container-floating:hover .plus{*/
    /*animation: plus-in 0.15s linear;*/
    /*animation-fill-mode: forwards;*/
/*}*/

/*.float-close{*/
    /*color: white;*/
    /*position: absolute;*/
    /*z-index: 1000;*/
    /*top: 5px;*/
    /*display: block;*/
    /*opacity: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*text-align: center;*/
    /*padding: 0;*/
    /*margin: 0;*/
    /*transform: rotateZ(-70deg);*/
    /*transition: all 0.3s;*/
    /*animation: edit-out 0.3s;*/
/*}*/

/*#container-floating:hover .float-close{*/
    /*animation: edit-in 0.2s;*/
    /*animation-delay: 0.1s;*/
    /*animation-fill-mode: forwards;*/
/*}*/

/*@keyframes edit-in{*/
    /*from {opacity: 0; transform: rotateZ(-70deg);}*/
    /*to {opacity: 1; transform: rotateZ(0deg);}*/
/*}*/

/*@keyframes edit-out{*/
    /*from {opacity: 1; transform: rotateZ(0deg);}*/
    /*to {opacity: 0; transform: rotateZ(-70deg);}*/
/*}*/

/*@keyframes plus-in{*/
    /*from {opacity: 1; transform: rotateZ(0deg);}*/
    /*to {opacity: 0; transform: rotateZ(180deg);}*/
/*}*/

/*@keyframes plus-out{*/
    /*from {opacity: 0; transform: rotateZ(180deg);}*/
    /*to {opacity: 1; transform: rotateZ(0deg);}*/
/*}*/

/*.nds{*/
    /*width: 40px;*/
    /*height: 40px;*/
    /*border-radius: 50%;*/
    /*position: fixed;*/
    /*z-index: 300;*/
    /*transform:  scale(0);*/
    /*cursor: pointer;*/
/*}*/

/*.nd1{*/
    /*background: #267186;*/
    /*right: 31px;*/
    /*bottom: 85px;*/
    /*animation-delay: 0.2s;*/
    /*animation: bounce-out-nds 0.3s linear;*/
    /*animation-fill-mode:  forwards;*/
    /*box-shadow: 1px 1px 1px 1px #224557;*/
/*}*/

/*.nd3{*/
    /*background: #267186;*/
    /*right: 31px;*/
    /*bottom: 135px;*/
    /*animation-delay: 0.15s;*/
    /*animation: bounce-out-nds 0.15s linear;*/
    /*animation-fill-mode:  forwards;*/
    /*box-shadow: 1px 1px 1px 1px #224557;*/
/*}*/

/*@keyframes bounce-nds{*/
    /*from {opacity: 0;}*/
    /*to {opacity: 1; transform: scale(1);}*/
/*}*/

/*@keyframes bounce-out-nds{*/
    /*from {opacity: 1; transform: scale(1);}*/
    /*to {opacity: 0; transform: scale(0);}*/
/*}*/

/*#container-floating:hover .nds{*/

    /*animation: bounce-nds 0.1s linear;*/
    /*animation-fill-mode:  forwards;*/
/*}*/

/*#container-floating:hover .nd3{*/
    /*animation-delay: 0.08s;*/
/*}*/
/*!* /Floating Button *!*/


/* Modal */
.rs-modal {
    margin-top: 55px;
    max-width: 700px;
}

.rs-modal-content {
    border-radius: 0;
}

.rs-modal-header {
    height: 50px;
    background-color: #D10006;
    font-size: 26px;
}

.rs-btn-primary {
    background-color: #D10006;
    border: 1px solid #ff0006;
}

.rs-btn-primary:hover,
.rs-btn-primary:active:focus,
.rs-btn-primary.active:focus,
.rs-btn-primary:active:hover,
.rs-btn-primary.active:hover,
.rs-btn-primary:active,
.rs-btn-primary:active.active {
    background-color: #ff0006;
    border: 1px solid #ff0006;
}

.rs-btn-close {
    background-color: #D10006;
    border: 1px solid #ff0006;
}

.rs-btn-close:hover,
.rs-btn-close:active:focus,
.rs-btn-close.active:focus,
.rs-btn-close:active:hover,
.rs-btn-close.active:hover,
.rs-btn-close:active,
.rs-btn-close:active.active {
    background-color: #ff0006;
    border: 1px solid #ff0006;
}

.user-email {
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
}

.user-email:hover {
    cursor: hand;
}

.user-role {
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
}

.user-role:hover {
    cursor: hand;
}

.rs-form-error {
    color: red;
    font-size: 14px;
}

.rs-hidden {
    visibility: hidden;
}

#rs-user-dropdown {
    width: 318px;
}

.rs-user-dropdown {
    margin-top: 7px;
}

.rs-user-dropdown-width {
    width: 269px;
}

.rs-user-dropdown-width li{
    margin-left: -7px;
}

.rs-user-dropdown-width li div:hover{
    margin-left: 7px;
    padding-left: 14px;
    width: 267px;
    cursor: pointer;
    background-color: rgba(230, 230, 230, 0.68);
}
.rs-user-dropdown-width li div{
    margin-left: 7px;
    width: 267px;
    cursor: pointer;
    padding: 3px 0 3px 14px;
}

.rs-add-user-modal {
    color: white;
    padding: 12px;
}

.glyphicon {
    cursor: pointer;
}
/* /Modal */

/* Message */
.container-message {
    width: auto;
    height: 50px;
    position: fixed;
    right: 100px;
    bottom: 24px;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: rgba(255, 0, 6, 0.86);
    box-shadow: 1px 1px 5px 1px #707070;
}

.rs-msg-check {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: rgb(10, 135, 0);
    float: left;
}

/*.container-message {*/
    /*width: auto;*/
    /*height: 50px;*/
    /*position: fixed;*/
    /*right: 100px;*/
    /*bottom: 24px;*/
    /*padding: 8px;*/
    /*font-size: 16px;*/
    /*color: white;*/
    /*border: 2px solid #1fd300;*/
    /*background-color: rgba(11, 216, 0, 0.81);*/
    /*box-shadow: 1px 1px 5px 1px #707070;*/
/*}*/

/*.rs-msg-check {*/
    /*width: 30px;*/
    /*height: 30px;*/
    /*border-radius: 30px;*/
    /*background-color: rgba(255, 0, 6, 0.86);*/
    /*float: left;*/
/*}*/

.rs-msg {
    width: auto;
    height: 30px;
    padding: 5px 5px 0 10px;
    float: left;
}

.rs-check {
    padding: 8px;
}
/* /Message */